@import '../abstracts/variables';
@import '../mixins/mixins';

.footer {
    margin-top: 2rem;
    padding-top: 4rem;
    background-color: $primary;
    text-align: center; 


    &__copyright {
        padding-bottom: 4rem;
        padding-top: 1rem;
        margin: 2rem 0;
        text-align: center;
        color: $white;
        font-weight: 400;
        // font-size: 0.8rem;
        

        a {
            color: $gray-300;
            text-decoration: none;

            &:hover {
                color: $primary;
                text-decoration: underline;
             
            }
            
        }

    }

    .legal-stuff {
        bottom: 0;
        align-items: center;
        text-align: start;

        a {
            color: $gray-100;
            text-decoration: none;
            margin: 0 1rem;
            
            &:hover {
                color: $white;
                border-bottom: 2px solid $white;
            }
        }
        
    }

    .madewithlove {
        align-items: center;
        text-decoration: none;
        color: $white;

        p {
            text-align: center;

            a {
                color: $gray-100;
                
                &:hover {
                    border-bottom: 2px solid $gray-100;
                    color: $white;
                }
            }
        }

    }

}


// STYLE THE BACK TO TOP BUTTON 
.back-to-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 9999;
    @include shadow;
    @include roundedCircle;
    background-color: $white;
       
    .icon {
        color: $secondary;
        @include absoluteCenter;
    }

}