@import '../abstracts/variables';


.footer {
    margin-top: 12rem;
    padding-top: 4rem;
    background-color: $primary;
    text-align: center; 
    

    .socials {
        position: relative;
        padding-top: 3rem;
        padding-bottom: 2rem;
        align-items: center;
        margin-top: 3rem;
        margin-bottom: 0.6rem;
        
        
        .social-wrap {
            position: relative;
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(4rem, 30%));

            @media (min-width: 992px) {
                display: grid;
                grid-template-columns: repeat( auto-fit, minmax(6.25rem, 10%) );
                justify-content: center;  
            }        
                  
            .item {
                padding: 0.5rem;
                text-align: center; 
                
                
                a {
                    color: $white;
                    
    
                    &:hover {
                        @include roundedCircle;
                        color: $secondary;
                        text-decoration: none;
                        font-weight: 600;
                        border-bottom: 3px solid lighten($primary, 10%);
                    
                    }

                }

                .sm-icon {
                    font-size: 1.2rem;                   

                }
                
                p {
                    padding: 0 0.5rem;
                    text-transform: capitalize;
                    
                }

                &:hover {
                    outline: 0.1rem dotted lighten($secondary, 20%);
                    background-color: lighten($primary, 10%);
                }
                
    
            }

        }
        
        
    }


    &__copyright {
        padding-bottom: 4rem;
        padding-top: 1rem;
        margin: 3rem 0;
        text-align: center;
        color: $white;
        font-weight: 400;
        // font-size: 0.8rem;
        

        a {
            color: $gray-300;
            text-decoration: none;

            &:hover {
                color: $primary;
                text-decoration: underline;
             
            }
            
        }

    }

    .legal-stuff {
        bottom: 0;
        align-items: center;

        a {
            color: $secondary;
            text-decoration: none;
            margin: 0 1rem;
            
            &:hover {
                color: $white;
                border-bottom: 2px solid $white;
            }
        }
        @media (max-width: 768px) {
            text-align: center;
        } 
        
    }

    .madewithlove {
        color: $white;
        text-decoration: none;

        p {
            text-align: center;
        }

        .icon {
            color: lighten($red, 20%);
        }
    }


}


// STYLE THE BACK TO TOP BUTTON 
.back-to-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 9999;
    @include shadow;
    @include roundedCircle;
    background-color: $white;
       
    .icon {
        color: $secondary;
        @include absoluteCenter;
    }

}