@import '../abstracts/variables';

.intro-section {
    background: $white;
    padding: 6rem 0;
    width: 100%;
    position: relative;
    background-size: cover;


}

.display-1 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 1rem;
    color: $secondary;
    font-family: poppins 'sans-serif';
    
    
    &--main {
        text-transform: capitalize;
        font-size: 1.6rem;
        display: block;
        margin-bottom: 1rem;
        
        @media (min-width: 992px) {
            font-size: 3.4rem;
        }
        
        
    }
    &--post {
        font-size: 1.6rem;
        display: block;
        margin-bottom: 1rem;
       
        @media screen and (min-width: 768px) {
            font-size: 2.4rem;
        }
        
        
    }
    
    &--sub {
        text-align: center;
        font-size: 0.875rem;
        display: inline-block;

        @media (min-width: 768px) {
            font-size: 1.4rem;
        } 
    }
}