@import '../abstracts/variables';
@import '../mixins/mixins';

.navbar {
    position: relative;
    position: sticky;
    background-color: $primary;
    z-index: 999;   
    @include shadow; 

    .brand {
        font-size: 1.6rem;
        color: #fff; 
        font-weight: 600;
        text-align: start;

        &:hover {
            color: $secondary;
        }
    }
}