
$primary: #6938da;
$secondary: #061C56;
$gray-300: #111111;
$gray-100: #cfc9c9  ;
$gray-600: #222222;
$body: #8080b1;
$white: #ffff;
$body-bg: #fafafa;
$blockquotebg: #e9e7e7;
$post-bg: #e9e7e7;
$black: #000;
$red: #D12322;
$spacer: 1rem;

// FONT FAMILY 
$font: poppins, 'sans-serif';